# dependências
/node_modules
/.pnp
.pnp.*

# build
/.next/
/out/
/build
next-env.d.ts
*.tsbuildinfo

# ambiente — NUNCA commitar segredos
.env
.env.*
!env.example

# cobertura de testes
/coverage

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# editores / SO
.DS_Store
Thumbs.db
.idea/
.vscode/
